Django==5.1.7
djangorestframework==3.16.0
django-cors-headers==4.7.0
django-filter==23.5
dj-database-url==2.1.0
gunicorn==23.0.0
whitenoise==6.9.0
psycopg2-binary==2.9.9
python-dotenv==1.1.0
python-decouple==3.8
Pillow==10.2.0
django-storages==1.14.2

# AI
openai==1.69.0

# Google APIs
google-api-python-client==2.165.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1

# Data
pandas==2.2.3
numpy==2.2.4
requests==2.32.3
