# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
#db.sqlite3
*.pyc
# Virtual environments
virtualenvironment/
env/
*.venv
*.env/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.swn

# Static files
staticfiles/
static/

# Media files
media/

# Node modules (if using npm/yarn)
node_modules/

# macOS system files
.DS_Store

# OpenAI API keys or sensitive files
backend/a.env